[tool.black]
line-length = 120
target-version = ['py38']

[tool.isort]
# https://black.readthedocs.io/en/stable/compatible_configs.html#configuration
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
line_length = 120
use_parentheses = true
ensure_newline_before_comments = true

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q -v --disable-warnings --cov=./ --cov-report=xml"
python_files = ["tests.py", "test_*.py", "*_tests.py"]

[tool.coverage.run]
branch = true
omit = ["manage.py"]
